{#<div style="width:500px; margin: 0 auto; height:150px; background-color:#96bf31;brder:1px solid black;">
Veuillez cliquez sur ce lien pour modifier votre mot de passe  <a href="{{url}}"><h6>Cliquez ici<h6></a>
</div>#}
<!doctype html>
<html lang="en">
   <head>
      <title>Title</title>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" type="text/css" href="{{asset('css/bootstrap4/bootstrap.min.css')}}">
<link href="{{asset('plugins/font-awesome-4.7.0/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{{asset('plugins/OwlCarousel2-2.2.1/owl.carousel.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('plugins/OwlCarousel2-2.2.1/owl.theme.default.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('plugins/OwlCarousel2-2.2.1/animate.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('css/main_styles.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('css/responsive.css')}}">
</head>
   <body style="background-color:gainsboro;">
 {% for flash_message in app.session.flashbag.get('danger') %}
                <div class="container alert alert-danger" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
<div style="width:610px;height:250px;background-color:white;padding:60px;margin-left:200px;margin-top:40px;border-top:5px solid #96bf31;">
<div style="margin-top:-45px;margin-right:70px;border-bottom:1px solid gainsboro;">
<img src="http://crowdeduafrica.com/wp-content/uploads/2018/10/Logo-CrowdEdu-Africa-1-1.png" width="50%" height="auto"/>
</div>
<div style="padding:15px;font-family:'Roboto',sans-serif;font-size:16px;">
Bonjour {{prenom}},

Une réinitialisation du mot de passe de votre compte a été demandée.

Cliquez sur le bouton ci-dessous pour modifier votre mot de passe.<br/>

Remarque : ce lien est valable pendant 24 heures. Après expiration de ce délai,
 vous devrez soumettre une nouvelle demande de réinitialisation de mot de passe.<br><br>
 <a href="{{url}}" class="btn" style="background-color:#96bf31;height:50px;padding:12px;color:white;font-family:'Roboto',sans-serif;text-decoration:none;">Changer votre mot de passe</a>
</div>
</div>
</body>
</html>