<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
{% block stylesheet %}

<link rel="stylesheet" type="text/css" href="{{asset('css/bootstrap4/bootstrap.min.css')}}">
<link href="{{asset('plugins/font-awesome-4.7.0/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{{asset('plugins/OwlCarousel2-2.2.1/owl.carousel.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('plugins/OwlCarousel2-2.2.1/owl.theme.default.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('plugins/OwlCarousel2-2.2.1/animate.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('css/main_styles.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('css/responsive.css')}}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<title>crowdedu Africa</title>
<style id="applicationStylesheet" type="text/css">
 ::placeholder {
  color: blue;
  font-size: 2px;
}


	
</style>
{% endblock %}
{% include 'contact/flash_messages.html.twig' %}

</head>
<body style="overflow-y: auto;
overflow-x: hidden;">
{% block header %}
<header style="position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #FFFFFF;
	z-index: 10;">
<div style="width: 100%;
	height: 45px;
	background: rgba(0,109,164,1);">
<div class="top_nav_left" style="margin-left:150px;padding-top:3px;">

<a href="#TaskListDialog" role="button" class="btn" data-toggle="modal" style="color:white;margin-top:-12px;font-size:10px;"><i class="fa fa-user" style="padding:5px;"></i>Se connecter
</a>


{#<li><a  >Se connecter</a></li>#}

<ul style="display:flex;flex-wrap:wrap;margin-top:-17px;float:right;">
				<li style="padding:13px;color:white;"><a href="https://www.facebook.com/crowdedu"><i class="fab fa-facebook-f" style="color:white;"></i></a></li>
				<li style="padding:13px;"><a href="#"><i class="fab fa-twitter" style="color:white;"></i></a></li>
				<li style="padding:13px;"><a href="#"><i class="fab fa-instagram" style="color:white;"></i></a></li>
				<li style="padding:13px;"><a href="#"><i class="fab fa-linkedin-in" style="color:white;"></i></a></li>
                
</ul>  

</div>


</div>
<div class="main_nav_container" style="background-color:#f5f5f5;height:auto;height:70px;padding:0;">
		<div class="logo_container">
							<a href="{{path('cours')}}"> <img src="{{asset('img/logo_crowdedu.png')}}" width="75%" height="auto"/></a>
						</div>
			<div class="container">
				<div class="row"  >
					<div class="col-lg-12 text-right" style="margin-left:50px;">
						
						
						<nav class="navbar">
							<ul class="navbar_menu" style="margin-top:-10px;">
	
				<li class="active limenu" style="margin-top:-1px;"><a href="#" id="ACCEUIL" class="active activelien" >Accueil</a></li>
				<li class="active limenu" style="margin-top:-1px;"><a href="#"  id="COURS" class="active activelien" >Cours</a></li>
				<li class="limenu" ><a href="#"  id="FORMATEURS" class="active activelien">Formateurs</a></li>
         <li class="limenu"><a href="#" id="CONTACTEZ_NOUS" class="active activelien">Contactez-nous</a></li>

         <li class="checkoutt" style="margin-right:25px;">{{render(controller('App\\Controller\\PanierController::menu'))}}</li>

				{# <li class="checkouttt" style="margin-left:7px;color:#053651;">{{render(controller('App\\Controller\\PanierController::menu'))}}</li>#}

								
                <li style="margin-right:-90px;">
        <form  method="post" action="{{path('search')}}" id="search" role="search" class="ff">
				<div class="searchbar">
          <input class="search_input" type="text" name="search" placeholder="Que voulez-vous apprendre ?" maxlength="200" >
        <button href="" type="submit" class="search_icon"><i class="fas fa-search"></i></button>

        </div>
				</form>	
                </li>
               
								
               


							</ul>
						
							<div class="hamburger_container">
								<i class="fa fa-bars" aria-hidden="true"></i>
							</div>
						</nav>
					</div>
				</div>
				</div>
		</div>


</header>
{% endblock %}
<div id="container">
{% block background %}
<div  style="background-image:url('{{asset('img/xyz.jpg')}}');background-size:contain;
height:auto; background-position:fixed;
     background-repeat: no-repeat;margin-top:65px;width:100%;">
     <div style="padding:150px;margin-left:-70px;">
    <h2 id="cours_en_video">Financer votre formation</h2>
    {#style="background: -webkit-linear-gradient(right,black,#006DA4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;opacity:100%;#}
    <div style="position: absolute;
		width: 575px;
		height: 1px;
		left: 140px;
		top: 230px;
        margin-right:10px;
        background:linear-gradient(90deg,#006DA4,#95C11E);">
        </div>
        
<div id="Formation_en_ligne_aupr_s_des_">
		<span>Formation en ligne auprès des meilleurs formateurs <br/>et institutions ici 
    et partout dans le monde </span>
	</div>
    

    <div id="#Rectangle_396" style="width:300px; right:12px;margin-top:185px;height:50px;background:linear-gradient(90deg,#006DA4,#95C11E);	text-align: left;
		">
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    
    <h4 style="	font-family: ubuntu;
		font-style: normal;
		font-weight: 200;
		font-size: 18px;
		color: rgba(255,255,255,1);text-align:center;padding-top:15px;
">
    <a href="{{path('demarrer')}}" role="button"  style="color:white;text-decoration:none;">Démarrer une campagne</a>
    </h4>
    {% else %}
    <h4 style="	font-family: ubuntu;
		font-style: normal;
		font-weight: 200;
		font-size: 18px;
		color: rgba(255,255,255,1);text-align:center;padding-top:15px;
">
    <a href="#TaskListDialog" role="button" data-toggle="modal" style="color:white;text-decoration:none;">Démarrer une campagne</a>
    		

    </h4>
    {% endif %}
 

    </div>



     </div>


</div>
</div>
{% endblock %}
{% block barrier %}
<img src="{{asset('img/logo_jokalante.png')}}" width="10%" height="auto" style="margin-top:7px;margin-left:25px;">
<img src="{{asset('img/caman.png')}}" width="10%" height="auto" style="margin-top:7px;margin-left:25px;">
<img src="{{asset('img/logo_jokalante.png')}}" width="10%" height="auto" style="margin-top:7px;margin-left:25px;">
<img src="{{asset('img/caman.png')}}" width="10%" height="auto" style="margin-top:7px;margin-left:25px;">
<img src="{{asset('img/logo_jokalante.png')}}" width="10%" height="auto" style="margin-top:7px;margin-left:25px;">

<img src="{{asset('img/caman.png')}}" width="10%" height="auto" style="margin-top:7px;margin-left:25px;">
<img src="{{asset('img/logo_jokalante.png')}}" width="10%" height="auto" style="margin-top:7px;margin-left:25px;">
<img src="{{asset('img/caman.png')}}" width="10%" height="auto" style="margin-top:7px;margin-left:25px;">

<div>
<h1 style="text-align:center;margin-top:71px;color:#006DA4;	font-family: ubuntu;
font-weight:bold;">No Barrier For Education.</h1>
<p style="margin-top:20px;text-align:center;font-size:22px;">Accessible à tous.</p>
</div>
{% endblock %}
{% block fonctionnalites %}
<center>
<div id="fonctionnalites" style="width:1200px;height:150px;margin-left:110px;display:flex;flex-wrap:wrap;padding-top:75px;">
<div id="Cours_en_vid_os" style="width:225px;height:45px;border-radius: 35px;margin-right:70px;background:linear-gradient(90deg,#006DA4,#95C11E);padding-bottom:25px;
">
		<span class="sp">Cours en vidéos</span>
</div>
<div id="Financement_Participatif" style="width:225px;height:45px;margin-right:70px;background:linear-gradient(90deg,#006DA4,#95C11E);border-radius: 35px;">
		<span class="sp">Cursus diplomante</span>
</div><div id="Cursus_diplomante" style="width:225px;height:45px;margin-right:70px;background:linear-gradient(90deg,#006DA4,#95C11E);border-radius: 35px;padding-top:10px;">
		<span  class="sp">Financement Participatif</span>
</div><div id="" style="width:225px;height:45px;background:linear-gradient(90deg,#006DA4,#95C11E);margin-right:70px;border-radius: 35px;padding-top:10px;">
		<span class="sp">Organisation / Entreprise</span>
</div>
</div>
</center>
{% endblock %}
{% block campagne %}
  {% endblock %}


{% block categories %}


{% endblock %}
{% block tabs %}
	<div id="TaskListDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="windowTitleLabel" style="width:500px;margin:auto; background-color:white;">
    <div class="modal-header">
        <img src="{{asset('img/logo_crowdedu.png')}}" width="150" height="50" style="margin-left:150px;"/>
    </div>
    <div class="modal-body">
			<p style="text-align:center;">Une autre vision de la formation professionnelle</p>
        <div class="tabbable">
        <ul class="nav nav-tabs tabs" style="margin-left:60px;">
        <li class="active"><a href="#tab1" data-toggle="tab" class="tab_container" style="color:#96bf31;font-weight:bold;display:inline-block;" id="tc">Connexion</a></li>
        <li><a href="#tab2" data-toggle="tab" style="padding: 0 20px;" class="tab_container" style="font-weight:normal;display:inline-block;color:black;" id="ti">Inscription</a></li>

				</ul>
		<br>
		  
        <div class="tab-content" style="height:400px;">
				<div id="msg"></div>
				<div id="info"></div>
        <div class="erreur" id="erreure" style="display:none;color:black;">Vous n'avez pas rempli correctement les champs du formulaire</div>

				<br><br>
        <div class="tab-pane active" id="tab1">
				
			{{ render(controller('App\\Controller\\SecurityController::login'))}} 

        </div>
        <div class="tab-pane" id="tab2">
		{{ render(controller('App\\Controller\\RegistrationController::register'))}} 
        </div>
			
				</div>
        </div>
				 <div class="c-modal-x-out">
  <a class="nostyle" aria-label="fermer" href="" role="button" data-track="true" data-track-app="discovery" data-track-action="close" data-courselenium="close-modal-button" >✕</a>
  </div>
   </div>
 
   </div>
	 <!-- Fin div container -->
	 </div>
	 <!-- aaaaaaaaaaaaa -->

   {% endblock %}
   {% block share %}
	

   {% endblock %}
	 {% block temoignages %}

	
	{% endblock %}
 
	 {% block footer %}
	 <!-- Footer -->
<footer class="page-footer font-small indigo">

  <!-- Footer Links -->
	
  <div class="containero text-center text-md-left" style="background-color:#013552;padding-left:100px;padding-bottom:50px;padding-right:50px;">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4 f">Menu</h5><hr>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="fl">Accueil</a>
          </li>
          <li>
            <a href="#!" class="fl">Cours</a>
          </li>
          <li>
            <a href="#!" class="fl">Formateurs</a>
          </li>
          <li>
          <a href="#" class="fl">Contact</a>
          </li>
          
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
    
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4 f">RETROUVEZ-NOUS</h5><hr>
{#<i class="fab fa-facebook-f"></i>#}
        <ul class="list-unstyled">
          <li>
<a href="#" class="lf"><i class="fab fa-facebook-f" style="color:white; "></i>  Facebook</a></li>
          <li >
<a href="#" class="lf"><i class="fab fa-linkedin-in" style="color:white;"></i>  Linkedin</a></li>
          <li>
<a href="#" class="lf"><i class="fab fa-instagram" style="color:white;"></i>  Instagram</a>
</li>
<li>
<a href="#" class="lf"><i class="fab fa-twitter" style="color:white;"></i>  Twitter</a>
</li>
</ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4 f">En plus</h5><hr>

        <ul class="list-unstyled">
          <li>
            <a href="{{path('poste')}}" class="fl">Devenez formateur</a>
          </li>
          <li>
            <a href="#!" class="fl">Conditions Générales d'Utilisations</a>
          </li>
          <li>
            <a href="#!" class="fl">Business</a>
          </li>
          <li>
            <a href="#!" class="fl">A propos de nous</a>
          </li>
        </ul>

      </div>
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4 f">Contactez-nous</h5><hr>

        <ul class="list-unstyled">
          <li class="fl">
immeuble SAMASSA | SICAP KARACK
          </li>
          <li class="fl">info@crowdedu.africa
          </li>
          <li class="fl">
					338524693
          </li>
         
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="background-color:#96bf31;color:white;font-size:15px;">© 2018 Copyright :
     Abdoulaye Tine
  </div>
  <!-- Copyright -->

</footer>

<!-- Footer -->
	 {% endblock %}
   {% block script %}

<script src="{{asset('js/jquery-3.2.1.min.js')}}"></script>
<script src="{{asset('css/bootstrap4/popper.js')}}"></script>
<script src="{{asset('css/bootstrap4/bootstrap.min.js')}}"></script>
<script src="{{asset('plugins/Isotope/isotope.pkgd.min.js')}}"></script>
<script src="{{asset('plugins/OwlCarousel2-2.2.1/owl.carousel.js')}}"></script>
<script src="{{asset('plugins/easing/easing.js')}}"></script>
<script src="{{asset('js/custom.js')}}"></script>

<script>
 $(document).ready(function() {
  // debut
    var $nom = $('#nom'),
        $prenom = $('#prenom'),
        $username = $('#username'),
        $email = $('#email'),
        $mdp = $("#mdp"),
        $confirmation = $("#confirmation")
        $envoi = $('#envoyer'),
        $erreur = $('#erreure'),
        $champ = $('.champ');
        $("#msg").hide();
        $champ.keyup(function(){
        if($(this).val().length < 5){ // si la chaîne de caractères est inférieure à 5
      //  $("#msg").text("Inscription incorrect").slideDown("slow");
        $("#msg").html('<center><span class="alert alert-danger">Veuillez saisir au moins 5 caractères</span></center>').slideDown("slow");

         }
         else{
          $("#msg").hide();
         }
          });
         
  // fin
  
  $("#formulaire").submit(function(e){
        e.preventDefault();
        var donnees = $(this).serialize();
        $.ajax({
        data : donnees,
				type:'text',
		    url : "{{path('registration')}}",
		    method : $(this).attr('method'),
		    success: function (data)
          {
						console.log(data)
						
          },
		   	error : function(){
       $("#msg").text("Inscription incorrect").slideDown("slow");

			},
			complete : function(data){
					$("#msg").html('<center><span class="alert alert-success">Votre inscription a réussi! Veuillez-vous connecter</span></center>');
					$("#msg").fadeIn(10000);
				  //window.location.reload(false);
            },
            });
	});

   $( "#ACCEUIL").click(function() {
  $( this ).css( {"font-weight":"bold","border-bottom":"0.5px solid #96bf31","padding-right":"2px","padding-bottom":"2px","display":"inline-block"});
  $("#COURS").css({"font-weight":"normal","border-bottom":"none"});
    $("#FORMATEURS").css({"font-weight":"normal","border-bottom":"none"});
  $("#CONTACTEZ_NOUS").css({"font-weight":"normal","border-bottom":"none"});
});
$( "#COURS").click(function() {
  $( this ).css( {"font-weight":"bold","border-bottom":"1px solid #96bf31","padding-bottom":"2px","display":"inline-block"});
  $("#ACCEUIL").css({"font-weight":"normal","border-bottom":"none"});
    $("#FORMATEURS").css({"font-weight":"normal","border-bottom":"none"});
  $("#CONTACTEZ_NOUS").css({"font-weight":"normal","border-bottom":"none"});
});
$( "#FORMATEURS").click(function() {
  $( this ).css( {"font-weight":"bold","border-bottom":"1px solid #96bf31","padding-bottom":"2px","display":"inline-block"});
  $("#COURS").css({"font-weight":"normal","border-bottom":"none"});
    $("#ACCEUIL").css({"font-weight":"normal","border-bottom":"none"});
  $("#CONTACTEZ_NOUS").css({"font-weight":"normal","border-bottom":"none"});
});
$( "#CONTACTEZ_NOUS").click(function() {
  $( this ).css( {"font-weight":"bold","border-bottom":"1px solid #96bf31","padding-bottom":"2px","display":"inline-block"});
  $("#COURS").css({"font-weight":"normal","border-bottom":"none"});
    $("#FORMATEURS").css({"font-weight":"normal","border-bottom":"none"});
  $("#ACCEUIL").css({"font-weight":"normal","border-bottom":"none"});
});
 $( "#tc").click(function() {
  $( this ).css( {"font-weight":"bold","color":"#96bf31","display":"inline-block"});
  $("#ti").css({"color":"black","display":"inline-block","font-weight":"normal"});
});
$( "#ti").click(function() {
  $( this ).css( {"font-weight":"bold","color":"#96bf31","display":"inline-block"});
    $("#tc").css({"color":"black","display":"inline-block","font-weight":"normal"});

});
	//Animation img cours 
	      $('.animate_image').mouseover(function(){
            $(this).find('#image').animate({
                width:365,
                height:200
            }, 1000)
          }).mouseout(function(){
            $(this).find('#image').animate({
                width:350,
                height:200
            }, 1000)
        });
				///////////////////////////////////////////////////////////
          
        
   /* $('#COURS').mouseover(function() {
    $(this).dropdown('toggle');
  });
  $("#COURS").mouseout(function(){
    $("dropdown-menu").hide();
  });*/
   
  
   $(".nav-item").click(function(){
			 console.log("test réussi");
		 });

     /////////
  

function getId(url) {
    var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
    var match = url.match(regExp);

    if (match && match[2].length == 11) {
        return match[2];
    } else {
        return 'error';
    }
}

var myId;

    var myUrl = $('#emb').val();
    myId = getId(myUrl);
    
    
    $('#myCode').html('<iframe width="600" height="315" src="//www.youtube.com/embed/' + myId + '" frameborder="0" allowfullscreen></iframe>');


        
 });

</script>
</body>
</html>
{% endblock %}

