{% extends 'cours/allCours.html.twig' %}
{% block temoignages %} {% endblock %}
{% block barrier %} {% endblock %}
{% block fonctionnalites %} {% endblock %}
{% block background %}
<style>
.form-control{
  display: block;
    width: 100%;
    height: 44px;
    padding: 10px 12px;
    font-size: 16px;
    line-height: 1.43;
    color: #29303B;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CACBCC;
    border-radius: 2px;
    box-shadow: none;
    transition: border-color ease-in-out .08s,box-shadow ease-in-out .08s;
}
.form-group{
  margin-bottom: 15px;
  position: relative;
}
</style>
<div style="margin-top:172px;margin-left:250px;margin-bottom:100px;padding-left:150px;width:800px;height:230px;border:1px solid gainsboro;">
     <ul class="nav nav-tabs nav-stacked">
         <li class="nav-item">
             <a href="{{path('edit',{'slug':app.user.slug})}}" class="nav-link active" id="id_profil">Profil Crowdedu</a>
         </li>
         <li class="nav-item">
             <a href="{{path('edit_photo')}}" class="nav-link" id="id_photo">Photo profil</a>
         </li>
         <li class="nav-item ">
             <a href="#" class="nav-link" id="id_securite">Paramétre de confidentialités</a>
         </li>
     </ul>
     <br>
     <div id="formulaire">
    {{ form_start(form,{'attr':{'enctype':'multipart/form-data'}}) }}
    <div class="form-row">
    <div class="form-group col-md-8">          
    {{form_row(form.photo,{'attr':{'class':'form-control','name':'photo','onchange':'readURL(this);'}}) }}
    </div>
<div>
    <img id="blah" src="http://placehold.it/180" alt="your image" style="max-width:100px;display:block;height:auto;"/>
    </div>    
     </div>
   <button  type="submit"  value="Submit" style="width:250px;height:60px;background-color:#006DA4;font-size:25px;font-weight:500;color:white;margin-left:80px;">Modifier</button>
   {{ form_end(form)}}
    </div>
    
{% endblock %}


{% block meilleurs_ventes %}{% endblock %}
{% block options %}{% endblock %}
{% block categories %} {% endblock  %}
{% block section %}{% endblock %}
{% block cours %}{% endblock %}
{% block cat %}{% endblock %}
{% block deal %}{% endblock %}
{% block latest %}{% endblock %}
{% block campagne %} {% endblock %}
{% block script %}
	<script src="{{asset('js/jquery-3.2.1.min.js')}}"></script>
	<script src="{{asset('js/rate.class.js')}}"></script>
	<script src="{{asset('css/bootstrap4/popper.js')}}"></script>
	<script src="{{asset('css/bootstrap4/bootstrap.min.js')}}"></script>
	<script src="{{asset('plugins/Isotope/isotope.pkgd.min.js')}}"></script>
	<script src="{{asset('plugins/OwlCarousel2-2.2.1/owl.carousel.js')}}"></script>
	<script src="{{asset('plugins/easing/easing.js')}}"></script>
	<script src="{{asset('js/custom.js')}}"></script>
	<script type="text/javascript">
		$(function() {

         $("#formulaire").show();
		$("#profil").hide();
        $("#securite").hide();
        $("#photo").hide();
				
		$("#id_profil").click(function(){
            console.log("bonjour");
        $("#formulaire").show();
		$("#profil").hide();
        $("#securite").hide();
        $("#photo").hide();
		});
        $("#id_photo").click(function(){
        $("#photo").show();
		$("#formulaire").hide();
        $("#securite").hide();
		});
		$("#id_securite").click(function(){
		$("#profil").hide();
        $("#photo").hide();
		});
        });
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
		</script>

	{% endblock %}




