{% extends 'cours/allCours.html.twig'%}
{% block temoignages %} {% endblock %}
{% block background %}

{% endblock %}
{% block categories %} {% endblock %}
{% block barrier %} {% endblock %}
{% block fonctionnalites %} {% endblock %}
{% block campagne %}
<div class="container" style="margin-top:100px;margin-bottom:50px;">
<h2 style="font-size: 1.5rem;font-weight: 900;line-height: 2rem;margin-left:10px;margin-top:135px;">la liste des campagnes</h2>


	<div class="row">
					{% for campagne in campagnes %}
                
			<div class="col-lg-4 cole" style="padding:10px;">
					<div class="card rower  mk" style="width:250px;overflow:hidden;">
					<a href="{{path('campagneUser',{'slug':campagne.slug})}}">
						<img src="{{ asset('uploads/')}}{{ campagne.photo}}" width="250" height="100" alt="" id="image">
					</a>

					<div class="card-body" style="height:250px;padding:0;">

				<h5 class="card-title titre" style="text-align:center;white-space: nowrap;
	font-family: ubuntu;
		font-style: normal;
		font-weight: normal;padding-top:22px;">
		<a href="{{path('campagneUser',{'slug':campagne.slug})}}" style="text-decoration:none;color: #053651;
    display: block;
    font-weight: 900;">{{campagne.cours.titreCours}}</a></a></h5><br>
	{# <h6 style="text-align:center;white-space: nowrap;
	font-family: ubuntu;
		font-style: normal;color:#96bf31;padding-top:10px;">{{campagne.ville}},{{campagne.pays}}</h6> #}
	 {# <section style="margin-left:95px;margin-top:-27px;"></section> #}
	<h5 style="text-align:center;white-space: nowrap;
	font-family: ubuntu;
		font-style: normal;
		font-weight: normal;color:#053651;padding-top:10px;">{{campagne.cours.prix}} FCFA</h5>
		<div style="width:100%;height:120px;border-top:1px solid gainsboro;">
		<p style="padding-left:10px;	font-family: ubuntu;
">{{campagne.motivation|slice(0,50)}}...</p>
				<a href="{{path('campagneUser',{'slug':campagne.slug})}}" class="btn" style="margin-top:15px;width:100%;background-color:#96bf31;color:white;">Voir le projet</a>

		</div>
			</div>
			
			</div>
			
			</div>
			
			 {% endfor %}
				{# <div class="navigation" style="margin-left:860px;">
				{{ knp_pagination_render(campagnes) }}
				</div> #}
			 
</div>
 {% endblock %}





