{% extends 'cours/allCours.html.twig'%}
{% block temoignages %} {% endblock %}
{% block background %}

{% endblock %}
{% block share %} {% endblock %}
{% block barrier %} {% endblock %}
{% block fonctionnalites %} {% endblock %}

{% block campagne %}
<div class="container" style="margin-left:125px;height:1000px;margin-top:-18px;margin-bottom:200px;">
	<h1 style="font-weight: 700;margin-left:-2px;margin-top:135px;color:#053651;font-family:'Roboto',sans-serif">{{campagne.cours.titreCours}} ({{campagne.cours.universite.nom}})</h1>
    <div style="filter: drop-shadow(0 0f 0.75rem gainsboro);">
    <section style="width:700px;height:400px;padding-top:30px;">
    <img src="data:image/png;base64,{{ campagne.photo }}" width="680" height="350" alt="" ><br><br>
        <h6 style="text-align:center;">{{campagne.user.prenom}} {{campagne.user.nom}} organise cette collecte de fonds pour payer sa formation</h6><br>
        <div style="width:310px;height:50px;margin-bottom:100px;border-top:1px solid #96bf31;border-bottom:1px solid #96bf31;margin-left:170px;">
        {#<p>Date de création: {{campagne.date}}</p>#}
        <h6 style="padding-top:15px;font-size:13px;margin-left:8px;">Date de création : <span style="margin-right:5px;">{{ campagne.date |date('d-m-Y')}}</span> | <span style="margin-left:5px;"><i class="fas fa-bullseye" style="color:#053651;"></i> {{campagne.cours.categorie.libelle}}</span></h6>
        </div>
     
    <div class="panel panel-primary" style="margin-top:-60px;">
    <div class="panel-heading" style="background-color:#96bf31;height:60px;border:1px solid #96bf31;text-align:center;padding-top:17px;width:650px;">Panel Heading</div>
    <div class="panel-body" style="border:1px solid gainsboro;font-size:15px;padding:17px; text-align: justify;
  text-justify: inter-word;width:650px;">{#{{ campagne.motivation}}#}
  <div id="kd" style="width:100%;height:100%;">
  {# <p id="emb   ">{{campagne.video}}</p>#}
    <input id="emb" type="hidden" value="{{campagne.video}}"/><br/>
</div>
<div style="margin-top:30px;"><pre id="myCode"></pre></div>
<div style="width:100%;height:100%;">
{{ campagne.motivation }}
</div>

  </div>


    </section>
    <section style="width:400px;height:1087px;padding-top:30px;background-color:#fff;margin-left:700px;margin-top:-370px;border:1px solid gainsboro;">
 <div style="width:100%;border-bottom:1px solid gainsboro;">
  <span style="margin-left:50px;">Objectif</span> <br/>
  <h2 style="margin-left:50px;">{{campagne.cours.prix}} FCFA</h2>
  <div id="evolution"></div>
 </div>
 <a href="{{path('donateur',{'slug':campagne.slug})}}" class="acampagneUser" >Je soutiens</a>

    <a href="#ShareSocialNetworks" id="opip" role="button" data-toggle="modal" class="acampagneUser" style="margin-top:25px;background-color:#fff;color:#053651;border:1px solid #96bf31;">Partager</a>
    <div style="height:500px;width:300px;margin-top:25px;margin-left:47px;border:1px solid gainsboro;padding:5px;">Crowdedu Africa aura 5% sur 
    chaque montant global réuni pour couvrir lescharges  promotionnelles  pour la  campagne
     vidéo  et marketing  
    autour dechaque campagne de financement participatif.</div>
    
    </section>		 
 </div>
 {% endblock %}
 {% block categories %}
	<div id="ShareSocialNetworks" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="windowTitleLabel" style="width:500px;margin:auto; background-color:white;height:400px;">
    <div class="modal-header">
        <img src="{{asset('img/logo_crowdedu.png')}}" width="150" height="50" style="margin-left:150px;"/>
    </div>
    <div class="modal-body">
			<p style="text-align:center;">Une autre vision de la formation professionnelle</p>
        <h3 style="text-align:center;">Soutenez la campagne </h3>
        <div style="width:300;height:70px;border-bottom:1px solid #96bf31;border-top:1px solid #96bf31;margin-top:50px;">
        <ul style="display:flex;flex-wrap:wrap;padding-bottom:15px;padding-top:15px;margin-left:90px;">
        <li style="padding-left:30px;"><a style="width:auto;" href="https://www.facebook.com/sharer/sharer.php?u={{campagne.facebook}}"><i class="fa fa-facebook-square" style="font-size:36px;color:#3b5998;"></i></a></li>
        <li style="padding-left:30px;"><a href="https://twitter.com/home?status={{campagne.twitter}}"><i class="fab fa-twitter-square" style="font-size:36px;color:#00acee;"></i></a></li>
        <li style="padding-left:30px;"><a href="https://www.linkedin.com/shareArticle?mini=true&url={{campagne.linkedin}}/&title=&summary=&source="><i class="fab fa-linkedin" style="font-size:36px;color:#0e76a8;"></i></a></li>
        <li style="padding-left:30px;"><a><i class="fab fa-instagram" style="font-size:36px;color:"></i></a></li>

        

        </ul>
        
        </div>

    </div>
<div class="c-modal-x-out" style="margin-left:450px;">
  <a class="nostyle" aria-label="fermer" href="" role="button" data-track="true" data-track-app="discovery" data-track-action="close" data-courselenium="close-modal-button" >✕</a>
  </div>
   </div>
 
   </div>
	 <!-- Fin div container -->
	 </div>
	 <!-- aaaaaaaaaaaaa -->

   {% endblock %}
 
