{% extends 'cours/allCours.html.twig' %}
{% block tabs %}{% endblock %}
{% block background %}
<style>
.fx {
    flex: 1;
    min-width: 1px;
}
.channels--teach .small-content {
    max-width: 510px;
}
channels--teach .text-shadow {
    text-shadow: 0 2px 4px rgba(41,48,59,0.5);
}
h3, .h3 {
    margin-top: 21px;
    margin-bottom: 10.5px;
}

.text {
    font-size: 15px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 20px;
    color: #FFF ! important;
}
.col .hero-header--container--sJIdp {
    height: 367px;
    padding-bottom: 40px !important;
    }
.channels--teach .discovery-unit-container>.unit-wrapper:nth-of-type(even) {
    background: #FFF;
}
* {
    box-sizing: border-box;
}
.channels--teach .hero-header h1 {
    font-size: 24px;
    color:#fff;
}
.channels--teach .text-shadow {
    text-shadow: 0 2px 4px rgba(41,48,59,0.5);
}
h1 {
    display: block;
    font-size: 45px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 300;
}
.btn-b {
    color: #FFF;
    background-color: #96bf31;
    border: 1px solid transparent;
    margin-top:40px;
    border-color: #96bf31;
}
.main_slider{
height:450px;
background:linear-gradient(#96bf31,rgba(255, 255,255, 0) 100%, rgba(0, 30, 0)) 100%  no-repeat, url("{{asset('img/s4.jpg')}}") 100% 10% no-repeat;
background-position:100% 100%;


}
p{
    text-align: center;
}
h5{
  text-align: center;
  font-family:ubuntu;
  font-size:14px;  
}
.text-shadow-text{
font-family:ubuntu;
font-weight: 300;
line-height: 1.287;
font-size: 55px;
word-break: break-word;
text-align: center;
}
.text-shadow {
text-align: center;
font-size: 16px;
font-family:ubuntu;
color:#fff ! important;
}
.title{
    margin-top:-20px;
    text-align: center;
    line-height: 1.287;
    font-family:ubuntu;
    font-weight: 300;
}
.trait{
    border-top: 2px solid #96bf31;
    width:45px;
}
#voir{
    margin-left:80%;background:inherit;
    border-color: #41444b;
}
#voir:hover{
    background:#41444b;
    color:#fff ! important;
}
h4{
    text-align:center;
    color:#747777;
    font-size:16px;
    font-family:ubuntu;
}
.benefit_content{
    text-align:center;
    font-weight: 300;
    font-family:ubuntu;
}
.benefit_content h6{
   color:#747777; 
}
.img_ {
    width: 100%;
    height: 100%;
    display: flex;
    max-height: 232px;
    align-items: center;
    margin-bottom: 16px;
    justify-content: center;
}

.container_video {
    margin-right: auto;
    margin-left: auto;
    padding-left: 100px;
    padding-top:100px;
    padding-bottom: 50px;

}
.component {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    border-bottom: 1px solid #e6f0f6;
    border-top: 1px solid #e6f0f6;
    background-color: #ffffff;
}
.component:hover{
    border-bottom:1px solid gainsboro;
    border-top:1px solid gainsboro;
}
.section-title {
    font-size: 35px;
    color: #053651;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 12px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom:30px;
}
.p_text{
        margin: 0 0 10px;
}
.span_d{
    padding-left:600px;
    text-align: right;

}

.table{
    border-left:1px solid gainsboro;
    border-right: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    width:100%;
    margin-bottom:250px;
}
.div_lien_etudiants{
 border-bottom: 1px solid gainsboro;
 border-top: 1px solid gainsboro;
margin-top:60px;

}
.info{
    text-align: center;
    color: #fff;
    position: relative;
    display: table;
    width: 100%;
    height: 420px;
    padding-top:210px;
} 
.roleFormateur{
        color: #2a333d;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
    text-overflow: ellipsis;
    overflow: hidden;
}
    .text-center{
        ext-align: center;
    }
    .mb{
        border:1px solid gainsboro;
    }
    .mb{
        border-top:5px solid #96bf31;
    }
    .imgp{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:90px;
    height:90px;
  }
  .spanp{
      font-size:13px;
  }
  .iot{
      font-size:13px;
  }
  .title{
      color:#053651;
  }
</style>

    <div style="background-image:url('{{asset('img/xyz.jpg')}}');background-size:contain;
            height:auto; background-position:center center;
                 background-repeat: no-repeat;margin-top:80px;width:100%;">
        <div style="padding:150px;margin-left:-70px;">
            <h2 id="cours_en_video" style="font-size:35px;">Ayez un impact global</h2>
            {#style="background: -webkit-linear-gradient(right,black,#006DA4);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;opacity:100%;#}
            <div style="position: absolute;
                		width: 575px;
                		height: 1px;
                		left: 140px;
                		top: 230px;
                        margin-right:10px;
                        background:linear-gradient(90deg,#006DA4,#95C11E);"></div>

            <div id="Formation_en_ligne_aupr_s_des_">
                <span>Construisez votre cours en ligne et monétisez
                    <br/>votre expertise en partageant votre savoir <br/>
                    partout dans le monde
                </span>
            </div>


            <div id="#Rectangle_396" style="width:300px; right:12px;margin-top:185px;height:50px;text-align: left;
                    		">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <h4 style="font-family: 'Roboto', sans-serif;
                            		font-style: normal;
                            		font-weight: 200;
                            		font-size: 18px;
                            		color: rgba(255,255,255,1);text-align:center;padding-top:15px;
                            ">
                    </h4>
                {% else %}
                    <h4 style="font-family: 'Roboto', sans-serif;
                            		font-style: normal;
                            		font-weight: 200;
                            		font-size: 18px;
                            		color: rgba(255,255,255,1);text-align:center;padding-top:15px;
                            ">
                    </h4>
                {% endif %}


            </div>


        </div>


    </div>
</div>
<br><br>

{% endblock %}
{% block barrier  %}

{% endblock %}
{# {% block cours %}{% endblock %} #}
 {% block fonctionnalites %}
 <div class="col-xxs-12 "><h1 class="title">Découvrez et développez votre potentiel</h1></div>

 <div class="row" style="margin-left: -15px;
    margin-right: -15px; padding:20px;">
 <div class="col-sm-4 text-content text-center "><h3><i class="fas fa-money-check-alt"></i></h3><h3>Gagnez de l’argent</h3>Vous gagnez de l’argent à chaque fois qu’un participant achète votre cours sur la place de marché. Vous touchez vos revenus tous les mois via Paypal ou Payoneer selon votre préférence.</div>
<div class="col-sm-4 text-content text-center "><h3><i class="far fa-play-circle"></i></h3><h3>Ayez un impact dans la vie des participants</h3>En partageant vos connaissances, vous aidez les personnes inscrites à votre cours à développer leurs compétences, leur carrière ou à progresser dans leurs passions.</div>
 <div class="col-sm-4 text-content text-center "><h3><i class="far fa-hand-point-right"></i></h3>    <h3>Vous êtes accompagné</h3>Rejoignez notre communauté de formateurs et profitez de toutes nos ressources pour vous guider lors de la création de votre cours.</div>
 </div>

{% endblock %} 
{% block campagne %}
 <div class="col-xxs-12 " style="padding:50px; height:130px;background-color:#96bf31;">
 <h1 class="title" style="color:white;">Un dynamisme exceptionnel</h1>
 </div>

 <div class="col-xxs-12 " style="padding:50px; height:130px;">
 <h1 class="title">Élargissez votre public</h1>
 </div>

 <div class="col-xxs-12 " style="padding:20px; height:130px;">
 <h3 class="title">Grâce à la mise en relation de formateurs et d'étudiants présents aux quatre coins du globe, 
 nous avons la possibilité à chaque instant d'impacter positivement des vies partout dans le monde.</h3>
 </div>
  <div class="row" style="margin-left: -15px;
    margin-right: -15px; padding:20px; display:flex;">
 <div class="col-sm-4 text-center mb"><h3><img src="{{asset('img/mme_sylla.png')}}" class="imgp"/><br>Mme Sylla<br><span class="iot">Directrice</span>
</h3><span class="spanp">J'ai pu tester différents formats et encodages pour obtenir un feedback correct de la part de Udemy Technique. Retour très rapide de l'équipe.</span> </div>
<div class="col-sm-4  text-center mb" style="margin-bottom:30px;"><h3><img src="{{asset('img/mme_sylla.png')}}" class="imgp" /><br>Mme Sylla</br><span class="iot">Directeur Technique</span></h3><span class="spanp">Les outils mis à disposition sont pensés pour vous faciliter la tâche. Les supports clairs et précis, la disponibilité des équipes sont pour moi un atout précieux.</span></div>
 <div class="col-sm-4  text-center mb"><h3><img src="{{asset('img/mme_sylla.png')}}"  class="imgp"/><br>Mme Sylla</br><span class="iot">Entrepreneur et Formateur</span></h3><span class="spanp">La plateforme d'Udemy regorge d'étudiants curieux, provenant de dizaines de pays et les différentes promotions vous permettent de toucher un public très large.</span></div>
 </div>
 <center>
<a class="btn " style="background-color:#96bf31;color:white;" href="{{path('acid')}}">Commencer maintenant</a>
</center>;
{% endblock %}
{% block newsletter %}
	
	{% endblock %}
{% block meilleurs_ventes %}



{% endblock %}
{% block latest %}
{% endblock %}
{% block temoignages %}
{% endblock %}
{% block categories %}
{% endblock %}
