{% extends 'home/index.html.twig' %}
{% block meilleurs_ventes %}{% endblock %}
{% block options %}{% endblock %}
{% block cours %}
{% block barrier %} {% endblock %}

{% endblock %}
{% block section  %}
{% endblock %}
{% block deal  %}
{% endblock %}
{% block latest  %}
{% endblock %}
{% block categories  %}
{% for r in res %}
<div class="col-lg-4 cole"style="padding:20px;">
					<div class="card rower animate_image" style="width:350px;overflow:hidden;">
					<a href="{{path('cour', {'slug':r.slug})}}">
						<img src="data:image/png;base64,{{ r.image }}" width="350" height="200" alt="" id="image">
					</a>		
					<div class="card-body">
				   <h4 class="card-title titre">{{r.titreCours}}</h4>
					<div class="course_block_bottom">
					<span class="fa fa-users ic">39</span>
					<div class="course_price">
						<strong>
							<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">CFA</span>{{r.prix}}</span><span class="subs"> pour {{r.duree}} &#65279;</span>
						</strong>
					</div>
				 </div>
			</div>
			</div>
			</div>
{% endfor %}
{% endblock %}
{% block cat %}
{% endblock %}
